---
layout: default
permalink: /about/
section_id: about
skills:
 - title: Mechanical Design
   experience: 5
 - title: Intellectual Property
   experience: 2
 - title: Computer Programming
   experience: 20
 - title: Public Speaking
   experience: 15
software:
 - title: Matlab
   experience: 14
 - title: LabVIEW
   experience: 10
 - title: R
   experience: 3
 - title: Python
   experience: 1
 - title: C++
   experience: 3  
cad:
 - title: SolidWorks
   experience: 15
 - title: Pro/Engineer
   experience: 5
 - title: AutoCAD
   experience: 2 
 - title: Autodesk Fusion 360
   experience: 1   
tools:
 - title: 3D Printer
   experience: 1
 - title: Laser Cutter
   experience: 1
 - title: Soldering
   experience: 25
courses:
 - title: Learning How to Learning
   institution: Coursera
   url: https://www.coursera.org/learn/learning-how-to-learn
 - title: Design Kit - Course for Human-Centered Design
   insitution: IDEO and +Acumen
   url: http://plusacumen.org/courses/hcd-for-social-innovation/
---

<div class='full' style='background: #333'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2 style='color: #fff;'>About Me</h2>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class = 'medium-6 columns'>
	  <image alt="" src="{{site.url}}/images/jake.jpg" width="300"/>
    </div>
    <div class='medium-6 columns'>
      <div class='spacing'></div>
      <p>I am a mechanical biomedical engineer, lifelong learner, and maker with a diverse range of interests, skills, and experiences. </p>
	  <p>I was fortunate enough to grow up in Kimberley, B.C. right beside the Rocky Mountains in the East Kootenay region of British Columbia, Canada. I currently live in Vancouver, British Columbia, Canada. </p>
	  <p>My personal <a hred="http://www.strengthsfinder.com">strengths</a> are themed around restoration, learning, analysing, deliberating, and intellection. This means I thrive at solving complex problems and figuring out ways to work smarter. </p>
	  <p> My work and volunteer experience is available on <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">LinkedIn</a>. You can see more details on professional and personal <a href="{{ site.url }}\projects\">projects</a> here on this site, and through other online accounts (<a href="twitter.com/{{ site.twitter_username }}">Twitter</a>, <a href="instagram.com/{{ site.instram_username }}">Instagram</a>, and <a href="github.com/{{ site.github_username }}">GitHub</a>.) </p>
	  </div>
  </div>	
  <div class='two spacing'></div>
  <div class='row'>
	<div class='small-2 large-4 columns'>
      <h3>Education </h3>
	  <p> B.Sc. Mechanical Engineering, University of Alberta </p>
	  <p> M.A.Sc. Biomedical Engineering, University of British Columbia </p>
    </div>
	<div class='small-2 large-4 columns'>  
	  <h3>Courses </h3>
		{% for course in page.courses %}
			<p><a href="{{course.url}}">{{ course.title }}</a></p>
	    {% endfor %}
	</div>
    <div class='small-2 large-4 columns'>  
	  <h3>Skills </h3>
		{% for skill in page.skills %}
			<p>{{ skill.title }} </p>  
		{% endfor %}
	</div>
    <div class='small-2 large-4 columns'>  
	  <h3>Software </h3>
		{% for program in page.software %}
			<p>{{ program.title }}</p>
		{% endfor %}
	</div>
	<div class='small-2 large-4 columns'>  
	  <h3>CAD</h3>
		{% for program in page.cad %}
			<p>{{ program.title }}</p>
		{% endfor %}
	</div>
	<div class='small-2 large-4 columns'>  
	  <h3>Tools </h3>
		{% for tool in page.tools %}
			<p>{{ tool.title }}</p>
	    {% endfor %}
	</div>
   
   </div> 
</div>