---
layout: default
permalink: /projects/
section_id: projects

---

<div class='full' style='background: #333'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2 style='color: #fff;'>My Projects</h2>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<div class='two spacing'></div>

<div class='full'>
	<div class='row'>
		<div class='large-12 columns'>
			{% for project in site.projects %}
				<div class="project">
					<h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<div class='full'>
	<div class='row'>
		<div class='large-12 columns'>
			<ul class='gallery'>
			  {% for project in site.projects %}
				<li class='{{ project.class }}'>
					<img alt="" src="{{  site.url }}/{{ project.image_path }}" />
					<div class = 'overlay'>
						<div class='thumb-info'>
						<h3>{{ project.title }}</h3>
						<p>{{ project.content }}</p>
						</div>
					</div>
				</li>
			  {% endfor %}
			</ul>
		</div>
	</div>
	
</div>