---
layout: default
permalink: /projects/
section_id: projects
---
<div class='full' style='background: #333'>
  <div class='row'>
    <div class='medium-12 columns'>
      <h2 style='color: #fff;'>My Projects</h2>
    </div>
  </div>
  <div class='spacing'></div>
</div>
<div class='spacing'></div>
<div class='mod modMasonryGallery'>
    <div class='gallery-nav'>
    <ul>
      <li class='current'>
        <a data-cat='all' href='#'>All</a>
      </li>
	  {% for tag in site.data.tags %}
		<li>
			<a data-cat='{{ tag.tag }}' href='#'>{{ tag.text }}</a>	
		</li>
	  {% endfor %}	 
    </ul>
  </div>
  <ul class='gallery'>
    {% for project in site.projects %}
      <li class='{{project.class}}'>
        <a href="{{ project.url }}">
          {% if project.main_image %}
			<img alt="{{ project.title }}" src="{{ site.url }}/{{ project.image_path }}/{{ 	project.main_image }}" />
		  {% else %}
			<img alt="{{ project.title }}" src="{{ site.url }}/images/project.jpg" />
		  {% endif %}
          <div class='overlay'>
            <div class='thumb-info'>
              <h3>{{ project.title }}</h3>
              <p>{{ project.desc }}</p>
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>

</div>