---
layout: default
section_id: projects
---

<div class='full' style='background: #333'>
  <div class='row'>
    <div class='large-12 columns'>
      <h3 style='color: #fff;'>{{ page.title }}</h3>
    </div>
  </div>
  <div class='two spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for image in page.images %}
            <div class='slide'>
              <img alt="" src="{{ site.url }}/{{ page.image_path }}/{{ image }}" />
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3> Description </h3>
	  <p> {{ page.content }}   </p>
	  
	  {% if page.tasks %}
		<div class='tasks'>
		<h3> My Tasks </h3>
			<ul>
			{% for task in page.tasks %}
				<li> {{ task }} </li>
			{% endfor %}
			</ul>
		</div>
	  {% endif %}
      {% if page.project_url %}
	  <a class='button small' href="{{ page.project_url }}">Visit website</a>
	  {% endif %}
    </div>
    <div class='large-4 columns'>
      <ul class='info'>
        {% if page.client %}
		<li>
          <strong>Client:</strong>
          {{ page.client }}
        </li>
		{% endif %}
        <li>
          <strong>Date:</strong>
          {{ page.year }}
        </li>
        <li>
          <div class='spacing'></div>
          <a href="{{ site.url }}/projects/" title='back to work list'>
            <i class='icon-layout'></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class='three spacing'></div>
</div>